<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit your gear.</title>
  </head>
  <body>
    <h1>Edit your gear.</h1>
    <a href="/inventory">All Gear</a>
    <form action="/inventory/<%=inventory.id%>?_method=PUT" method="POST">
      <input type="text" name="name" value="<%=inventory.name%>">
      <input type="text" name="product_Location" value="<%=inventory.product_Location%>">
      <input type="text" name="activity" value="<%=inventory.activity%>">
      <input type="text" name="owner" value="<%=inventory.owner%>">
      <button type="submit">Update Gear</button>
    </form>
  </body>
</html>
