<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Show gear.</title>
  </head>
  <body>
  <header>
    <h1>Show gear</h1>
    <nav class="nav">
      <a href="/inventory">All Gear</a>
    </br>
      <a href="/inventory/new">Add new Gear</a>
    </br>
      </nav>
      </header>
    <main>
      <section>
        <h3>Gear: <%= inventory.name %></h3>
        <h3>Location: <%= inventory.product_Location %></h3>
        <h3>Activity: <%= inventory.activity %></h3>
        <h3>Owned By: <%= inventory.owner %></h3>
        <h3>Borrowed By: <%= inventory.checked_Out %></h3>
      </section>
      <section>
        <a href="/inventory/<%=inventory._id%>/edit">Edit</a>
      </section>
      <section>
        <form action="/inventory/<%=inventory._id%>?_method=DELETE" method="POST">
          <!-- <input type="submit" value="Delete Gear"/> -->
          <button type="submit">Remove Gear</button>
          </form>
        </section>
      </main>
  </body>
</html>
