<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show gear.</title>
  </head>
  <body>
  <header>
    <h1>Show gear</h1>
      <nav>
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
                <a href="/inventory">All Gear</a>
            </li>
          </ul>
        </nav>
      </header>
    <main>
      <section>
        <h3><%= inventory.name %></h3>
        <h3><%= inventory.product_Location %></h3>
        <h3><%= inventory.activity %></h3>
        <h3><%= inventory.owner %></h3>
      </section>
      <section>
        <a href="/inventory/<%=inventory._id%>/edit">Edit</a>
      </section>
      <section>
        <form action="/inventory/<%=inventory._id%>?_method=DELETE" method="POST">
          <!-- <input type="submit" value="Delete Gear"/> -->
          <button>Delete</button>
        </form>
      </section>
    </main>
  </body>
</html>
